<h1>If you've been to <%= @restaurant.name %></h1>

<p>Help your friends out by rating and/or reviewing </p>

<div class = "row">
	<div class = "col-md-5"
		<%= form_for [@restaurant, @visit] do |f| %>
		      <%= f.label :rating %> (Out of 5)</br> 
		      <%= f.text_field :rating %> </br>
		  
		      <%= f.label :review %></br>
		      <%= f.text_area :review, :class => "form-control" %></br>
					</br>
		    	<%= f.submit "Submit", :class => 'btn btn-primary' %>

		<% end %>
	</div>
</div>
