<h2>Who would you like to recommend <%= @restaurant.name %> to?

<%= form_for [@restaurant,@future_visit]  do |f| %>
      	<% @future_visit.errors.full_messages.each do |msg| %>
  			<p class="text-warning"><%= msg %></p>
			<% end %>

      <div>

      <%= f.collection_select :user_id, current_user.friends, :id, :name, :class => 'dropdown-menu' %></div>
  
      
			</br>
    	<%= f.submit "Submit", :class => 'btn btn-primary' %>
			</br>



<% end %>

</br>
<p><%= link_to 'Back to Home', root_path %></p>
