<H1><%= @user.name %></H1>

<!-- Only logged in users can see this page information -->

<% if @user == current_user || Friendship.exists?(:friend_id =>current_user.id, :owner_id => @user.id) %>


	<!-- Display depends on whether this is your own user page or someone elses -->

	<% if current_user == @user  %>


		<% if Friendship.exists?(:friend_id => current_user.id, :accepted => nil) %>
			
			<p>You have friend requests from </p>
			<ul>
				<% Friendship.where(:friend_id => current_user.id, :accepted => nil).each do |friendship| %>
					<li><%= link_to User.find(friendship.owner_id).name, user_path(friendship.owner_id) %> | <%= link_to 'Accept Friendship', user_friendships_path(User.find(friendship.owner_id)), :method => 'post'  %> </li>
				<% end %>
			</ul>
			<% end %>

			<% else %>
				
				<% if Friendship.where(:friend_id => @user.id) %>


				<% else %>

				<p><%= link_to 'Send a friend request', user_friendships_path(@user), :method => 'post' %></p>

			<% end %>

			<% end %>


			<h2>Queued Restaurants</h2>
			<ul>
				<% @user.future_visits.each do |future_visit| %>
					<li><%= link_to future_visit.restaurant.name, restaurant_path(future_visit.restaurant) %> </li>
				<% end %>
			</ul>

			<h2>Visited Restaurants</h2>

			<ul>
				<% @user.visits.each do |visit| %>
					<li><%= link_to visit.restaurant.name, restaurant_path(visit.restaurant) %></li>
				<% end %>
			</ul>


		<h2>Friends</h2>

			<ul>
				<% Friendship.where(:friend_id => current_user.id, :accepted => true).each do |friendship| %>
				<li><%= link_to User.find(friendship.owner_id).name, user_path(friendship.owner_id) %> </li>
				<% end %>
			</ul>





<% elsif current_user %>

<p><%= link_to 'Send a friend request', user_friendships_path(@user), :method => 'post' %> to see <%= @user.name %>'s Queue </p>


<% else %>
	<%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign Up', new_user_registration_path %> to view <%= @user.name %>'s activity</p>
	
<% end %>