<h1>Add a New Restaurant</h1>

<%= form_for @restaurant do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
  
      <%= f.label :website %>
      <%= f.text_area :website %>

      <%= f.label :location %>
      <%= f.text_area :location %>

    	<%= f.submit %>

<% end %>
