<div class = "row">
  <div class = "col-md-1">
  </div>
  <div class = "col-md-4">
    <h1>All Restaurants</h1>
  </br>
  </div>

  <div class = " col-md-4">
    <% if current_user %>
      <h3>Been somewhere not listed? </h3><%= link_to 'New Restaurant', new_restaurant_path, :class => 'btn btn-primary' %>
    <% else %>
      <h2><%= link_to 'Sign Up', new_user_registration_path, :class => 'btn btn-success' %> or <%= link_to 'Sign in', new_user_session_path, :class => 'btn btn-primary' %> </h2>
      To start building your Queue
    <% end %>
  </div>

</div>


<div class = "row">
  <div class = "col-md-1">
  </div>
  <div class = "col-md-8">
	  <div class = "restaurant_list">
		  <ul>
        <% @restaurants.order('name ASC').each do |restaurant| %>
          <li><strong><%= link_to restaurant.name, restaurant_path(restaurant) %></strong>  <%= restaurant.location %></li>
          <hr>
        <% end %>
  	  </ul>
    </div>
  </div>
</div>


