
<div class = "row">
	<div class = "col-md-1">
  </div>
	
	<div class = "col-md-5">
		<h1><%= @restaurant.name %></h1>
		<strong>Website: </strong><%= link_to @restaurant.website, @restaurant.website, :target => 'blank' %> </br>
		<strong>Location: </strong><%= @restaurant.city %> </br>
		<% if current_user %>
			<strong>Average Rating By Your Friends:</strong> <%= @restaurant.visits.average("rating")%></br>
	
		
		</br>
	
		<h3>Reviews by your friends</h3>

		<% @restaurant.visits.each do |visit| %>			
			<strong><%= visit.user.name %></strong>,  
			<em><%= visit.created_at.strftime("%d %b. %Y") %></em>
			<p>Rated: <%= render_stars(visit.rating) %></br>
			"<%= visit.review %>"</p>
			<hr>
		<% end %>
		<% end %>
		</br>
		
	</div>
	<% if current_user %>
		<div class = "col-md-5">
<!-- button for later, only show if you haven't been here -->



<!-- e.g. if current_user.visit.exists?(@restaurant)...? but not quite like that. --> 

			<% if current_user.visits.exists?(:restaurant_id => @restaurant.id) %>

				You've been to <%= @restaurant.name %> </p>

			<% else %>
				</br>
			</br>
	 			<%= link_to "I've been here", new_restaurant_visit_path(@restaurant), :class => 'btn btn-primary' %>
				</br>
			
			<% end %>

			<hr>
<!-- If restaurant is not in your queue, show this -->
<!-- so I need another if statement here -->

			<% if future_visit = current_user.future_visits.where(:restaurant_id => @restaurant.id).first %>
				<p><%= @restaurant.name %> is in your Queue  <%= link_to "Remove from Queue", restaurant_future_visit_path(@restaurant, future_visit), :confirm => 'Are you sure?', method: :delete %></p>

			<% else %>

				<p>Want to go here in the future?</p>
				<%= link_to "Add to Queue", restaurant_future_visits_path(@restaurant), :method => 'post', :class => 'btn btn-primary' %>
				</br>
			<% end %>
			<hr>

			<p>Recommend <%= @restaurant.name %> to a friend </p>
			<%= link_to "Recommend", new_restaurant_future_visit_path(@restaurant), :class => 'btn btn-primary' %>

		<!-- Here I think I should put a drop down with all your friends in it -->
			</br>

		</div>

</div>

	
<% else %>
	</br>
</br>
	<%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign Up', new_user_registration_path %> to build a Queue or see friends' activity.</p>
	
<% end %>

</div>
